/* start app-splash-screen*/
.app-splash-screen {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  z-index: 1100;
  overflow: hidden;
  top: 0;
  left: 0;
  .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
    color: var(--bs-white);
    border: 1px solid var(--primary-color);
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: var(--primary-color);
    .headline-6 {
      font-size: 1.5rem;
      color: var(--bs-white);
    }
    .icon svg {
      width: 3.5rem;
      height: 3.5rem;
      transform: perspective(500px) rotateY(-42deg);
      -webkit-transform: perspective(500px) rotateY(-42deg);
      -moz-transform: perspective(500px) rotateY(-42deg);
      -ms-transform: perspective(500px) rotateY(-42deg);
      -o-transform: perspective(500px) rotateY(-42deg);
      animation-name: rotate-windows;
      animation-iteration-count: infinite;
      animation-duration: 3s;
      animation-fill-mode: forwards;
    }
  }
}
@keyframes rotate-windows {
  0% {
    transform: perspective(500px) rotateY(-42deg);
    -webkit-transform: perspective(500px) rotateY(-42deg);
    -moz-transform: perspective(500px) rotateY(-42deg);
    -ms-transform: perspective(500px) rotateY(-42deg);
    -o-transform: perspective(500px) rotateY(-42deg);
  }
  50% {
    transform: perspective(500px) rotateY(0deg);
    -webkit-transform: perspective(500px) rotateY(0deg);
    -moz-transform: perspective(500px) rotateY(0deg);
    -ms-transform: perspective(500px) rotateY(0deg);
    -o-transform: perspective(500px) rotateY(0deg);
  }
  100% {
    transform: perspective(500px) rotateY(-42deg);
    -webkit-transform: perspective(500px) rotateY(-42deg);
    -moz-transform: perspective(500px) rotateY(-42deg);
    -ms-transform: perspective(500px) rotateY(-42deg);
    -o-transform: perspective(500px) rotateY(-42deg);
  }
}
/* End app-splash-screen*/
