/* start .card */
.card {
  border-color: var(--light-300);
  &.setting-card {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    .text-content {
      margin-bottom: 1.5rem;
    }
    & > .card-body {
      flex: 1;
      overflow-y: auto;
      max-height: calc(100svh - 16.5rem);
      border-radius: var(--bs-border-radius);
    }
    & > form > .card-body {
      max-height: calc(100svh - 19.5rem);
      flex: 1;
      overflow-y: auto;
      &.identity {
        max-height: calc(100svh - 16.5rem);
      }
    }
    .card-footer {
      padding-block: 0;
      background-color: transparent;
      border-top: 0;
      .action-buttons {
        border-top: 1px solid var(--light-300);
        padding-block: 1rem;
        display: flex;
        justify-content: flex-end;
        gap: 0.5rem;
        .btn {
          padding-inline: 1.5rem;
        }
      }
    }
    .card-order-header {
      padding-bottom: 0.5rem;

      .order {
        width: 2.5rem;
      }
      .title {
        flex-grow: 1;
        padding-inline-start: 0.75rem;
      }
      .toggle {
        width: 4.5rem;
      }
    }
  }
  &.card-order-control {
    display: flex;
    flex-direction: row;
    margin-bottom: 0.5rem;
    .card-body {
      padding: 0.5rem 0.75rem;
      font-size: 0.875rem;
    }

    .cl-preview {
      width: 1.5rem;
      height: 1.5rem;
      border: 1px solid var(--light-300);
    }

    .actions {
      padding-inline-start: 0.75rem;
      margin-inline-start: 0.75rem;
      border-inline-start: 1px solid var(--light-200);
      display: flex;
      align-items: center;
      gap: 0.5rem;
    }
    .toggle {
      padding: 0 1rem;
      width: 4.5rem;
    }
    .btn-group-vertical {
      .btn {
        border-inline-start: 1px solid var(--light-300);
        border-start-start-radius: 0;
        border-end-start-radius: 0;
        color: var(--dark-700);
        width: 2.5rem;
        padding-block: 0.125rem;
        &:first-child {
          border-bottom: 1px solid var(--light-300);
        }
      }
    }
  }
  &.empty-page {
    flex-grow: 1;
    .card-body {
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      justify-content: center;
      align-items: center;
      .vector {
        svg,
        img {
          width: auto;
          height: 240px;
          max-width: 100%;
        }
      }
      .content {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      h5,
      p {
        margin-bottom: 0;
        text-align: center;
      }
    }
  }
  &.card-hierarchy {
    flex-grow: 1;
    display: flex;
    flex-direction: column;

    & > .card-body {
      flex: 1;
      display: flex;
      flex-direction: column;
      border-radius: var(--bs-border-radius);
      .hierarchy-container {
        display: flex;
        justify-content: center;
        position: relative;
        gap: 1rem;
        .hierarchy-node {
          display: flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          .node-box-container {
            .node-box {
              border: 1px solid var(--light-300);
              width: 200px;
              display: flex;
              padding: 1.5rem 0.25rem;
              padding-inline-start: 0.75rem;
              justify-content: space-between;
              border-radius: 1rem;
              background-color: var(--light-300);
              font-size: 0.875rem;
            }
          }
        }
        .children {
          border-top: 1px solid var(--light-300);
          margin-left: 0.5rem;
          margin-inline-end: 1rem;
          margin-top: 1.5rem;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            width: 1px;
            height: 1.5rem;
            background-color: var(--light-300);
            left: 50%;
            transform: translateX(-50%);
            top: -1.5rem;
          }

          .hierarchy-node {
            padding-top: 1.5rem;
            position: relative;

            &:first-child,
            &:last-child {
              &::after {
                content: "";
                position: absolute;
                height: 1px;
                width: 50%;
                background-color: var(--bs-white);

                top: -1px;
                z-index: 2;
              }
            }
            &:last-child::after {
              inset-inline-end: 0;
            }
            &:first-child::after {
              inset-inline-start: 0;
            }
            &:only-child::after {
              background-color: var(--bs-white);
              width: 100%;
            }
          }
          .node-box-container {
            .node-box {
              background-color: var(--light-200);
              position: relative;
              &::after {
                content: "";
                position: absolute;
                width: 1px;
                height: 1.5rem;
                background-color: var(--light-300);
                left: 50%;
                transform: translateX(-50%);
                top: -1.5rem;
              }
            }
          }
        }
      }
      & > .hierarchy-container {
        flex: 1;
        width: 100%;
        overflow: auto;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
      }
    }
  }
}

/* Connecting each child up to the horizontal line */
// .hierarchy-node:not(:only-child)::before {
//   content: "";
//   position: absolute;
//   top: -1rem;;
//   left: 50%;
//   width: 2px;
//   height: 20px;
//   background: #007bff;
//   transform: translateX(-50%);
// }
