/* start rtl*/
html[dir="rtl"] {
  font-size: 15px;
  .arrow {
    transform: rotateY(180deg);
  }

  *:not(i):not(.fa):not(mat-icon):not(.e-icons):not(.btn-change-lang span) {
    font-family: "Almarai", sans-serif;
  }

  .btn-change-lang {
    span {
      &.en {
        background: transparent;
        color: var(--dark-700);
        opacity: 0.65;
      }

      &.ar {
        opacity: 1;
        background: var(--primary-color);
        color: var(--bs-white);
      }
    }
    .icon-text {
      .ar-text {
        display: none;
      }
      .en-text {
        display: block;
      }
    }
  }
  input[type="number"] {
    direction: rtl;
  }
  .end-0 {
    right: auto !important;
    left: 0 !important;
  }
  .badge {
    line-height: 125%;
  }
  .progress-overall-bar {
 
  
  .circle {
     transform: translateY(-50%) translateX(0.25rem);
  }
}
}

/* end rtl*/
