/* start pagination-container*/
.pagination-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  .start {
    display: flex;
    align-items: center;
    gap: 1rem;
    label {
      color: var(--dark-800);
    }
    @media (max-width: 992px) {
      width: 100%;
      justify-content: center;
      padding-top: 0.5rem;
    }
    .table-dropdown {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      label {
        white-space: nowraP;
      }
      .form-control {
        padding-block: 0.35rem;
      }
    }
  }
  .end {
    justify-content: flex-end;
    display: flex;
    align-items: center;
    gap: 1rem;
    .entries {
      border: 1px solid var(--light-300);
      font-size: 0.75rem;
      font-weight: 500;
      color: var(--dark-500);
      padding-inline: 0.5rem;
      border-radius: var(--bs-border-radius);
      align-self: stretch;
      display: flex;
      align-items: center;
    }
  }
  .pagination {
    padding-inline-start: 0;
    padding-left: 0;
    padding-right: 0;
    list-style: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
    gap: 0.25rem;
    @media (max-width: 992px) {
      justify-content: center;
    }
    .page-item {
      .page-link {
        border-radius: var(--bs-border-radius);
        padding: 0.25rem;
        min-width: 2rem;
        height: 2rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid var(--light-300);
        text-decoration: none;
        color: var(--dark-800);
        font-size: 0.875rem;
        font-weight: 500;

        .icon {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .arrow {
          width: 1.5rem;
          height: 1.5rem;
        }
        &.action-btn {
          background-color: var(--light-btn);
          color: var(--primary-color);
        }
      }
      &.disabled {
        .page-link {
          opacity: 0.5;
        }
      }
      &.active {
        .page-link {
          background-color: var(--primary-color);
          color: var(--bs-white);
          border-color: var(--primary-color);
        }
      }
    }
  }
}
/* end pagination-container*/
/* strat table*/
.table-responsive:has(.dropdown) {
  min-height: 400px;
}

.table-responsive {
  margin-bottom: 0.5rem;
  &.sticky-header-custom {
    height: calc(100svh - 15.5rem);
    border: 1px solid var(--light-300);
    border-radius: 0.375rem;
    thead {
      tr {
        background-color: var(--bs-white);
        position: sticky;
        top: 0;
        z-index: 10;
        th {
          position: relative;
          &:first-child {
            &::after {
              border-start-start-radius: 0.25rem;
              border-inline-start: 1px solid var(--light-300);
            }
          }
          &:last-child {
            &::after {
              inset-inline-start: 1px;
              border-start-end-radius: 0.25rem;
              border-inline-end: 1px solid var(--light-300);
            }
          }
        }
      }
    }

    table {
      &::after {
        display: none;
      }
    }
    &.department-grid {
      height: calc(100svh - 20.25rem);
    }
    &.users-grid {
      height: calc(100svh - 29.75rem);
      min-height: unset;
    }
  }
}

.table {
  margin-bottom: 0;
  background-color: var(--bs-white);
  border-radius: 0.375rem;
  border: 1px solid transparent;
  position: relative;
  z-index: 2;
  background-color: transparent;
  @media (min-width: 1366px) {
    .w-col-500-lg {
      width: 500px;
    }
  }
  .td-wrap-cell {
    min-width: 150px;
    &.date {
      min-width: 120px;
    }
  }
  &.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-bg-type: transparent;
  }

  &.table-hover > tbody > tr:hover > * {
    --bs-table-bg-state: transparent;
  }

  & > :not(caption) > * > * {
    background-color: transparent;
  }

  &::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid var(--light-300);
    border-radius: 0.375rem;
    z-index: -1;
    background-color: var(--bs-white);
  }

  .td-content {
    .icon,
    .title,
    .no-desc {
      display: none;
    }
  }
  .mx-w-300 {
    max-width: 300px;
  }
  .task-title {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    word-break: break-word;
  width:300px;
  }
  thead {
    th {
      font-size: 0.75rem;
      font-weight: 500;
      color: var(--dark-800);
      white-space: nowrap;
      background-color: transparent;
      padding-top: 1rem;
      border-inline-width: 0;
      border-bottom: 0;

      &:first-child {
        padding-inline-start: 1rem;
      }

      &:last-child {
        padding-inline-end: 1rem;
      }
    }
  }

  tbody {
    position: relative;
    z-index: 1;

    tr {
      position: relative;

      td {
        font-size: 0.875rem;
        color: var(--dark-800);
        background-color: transparent;
      }

      td,
      th {
        &:first-child {
          padding-inline-start: 1rem;
        }

        &:last-child {
          padding-inline-end: 1rem;
        }

        border-bottom: 0;
      }

      &::after {
        content: "";
        position: absolute;
        height: 0.5px;
        top: unset;
        bottom: 0;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, 0);
        background: var(--light-300);
        width: Calc(100% - 2rem);
      }

      &:hover {
        &:after {
          height: 100%;
          width: calc(100% - 2px);
          background-color: var(--light-200);
        }
      }

      &:last-child {
        td {
          padding-bottom: 1rem;
        }

        &::after {
          display: none;
          border-end-end-radius: 0.375rem;
        }

        &:hover {
          &:after {
            display: block;
            opacity: 1;
            height: calc(100% - 1px);
            width: calc(100% - 2px);
            background-color: var(--light-200);
            top: 0px;
            border-end-end-radius: 0.375rem;
            border-end-start-radius: 0.375rem;
            transform: translate(-50%, 0);
          }
        }
      }
    }
  }
  &.separated-table {
    border-collapse: separate;
    border-spacing: 0 0.5rem;
    &::after {
      display: none;
    }
    tbody {
      tr {
        &:last-child::after,
        &::after {
          display: block;
          width: 100%;
          height: 100%;
          border-radius: var(--bs-border-radius);
          background-color: transparent;
          border: 1px solid var(--light-300);
        }
        td {
          vertical-align: middle;
        }
      }
    }
    thead th {
      padding-block: 0;
    }
  }
}

/* end table*/
