/* start typography*/
.auth-headline {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-900);
  margin-bottom: 0;
}
.auth-text {
  font-size: 0.875rem;
  font-weight: 500;
  margin-bottom: 0;
  color: var(--dark-500);
}
.page-headline {
  font-weight: 600;
  font-size: 1.25rem;
  line-height: 1.5rem;
  color: var(--dark-900);
  margin-bottom: 0;

  .parent-page-link {
    text-decoration: none;
    color: var(--dark-900);
  }
  .active-page {
    font-size: 0.875rem;
    font-weight: 600;
    color: var(--dark-700);
  }
}
.headline-5 {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--dark-800);
}
.headline-6 {
  font-size: 1rem;
  font-weight: 600;
  color: var(--dark-800);
}
.headline-7 {
  font-size: 0.875rem;
  font-weight: 600;
}
.headline-8 {
  font-size: 0.75rem;
  font-weight: 600;
}
.small-medium-text {
  font-size: 0.875rem;
  color: var(--dark-600);
  font-weight: 500;
}
.x-small-medium-text {
  font-size: 0.75rem;
  color: var(--dark-600);
  font-weight: 500;
}
.badge {
  font-size: 0.875rem;
  padding: 0.65rem 0.5rem;
  font-weight: 500;
}
/* strat alert*/
/* strat alert*/
.alert {
  border: 0;
  &.alert-sm {
    font-size: 0.75rem;
    padding: 0.5rem 1rem;
    font-weight: 500;
  }
  &.alert-warning {
    background-color: var(--warning-light);
    color: var(--warning);
  }
}
/* end alert*/
/* End typography*/
